/*
writter : parsa ghorbanian
telegeram : 09194723906
email : info@shirinsoft.ir
website : http://trainingsitedesign.ir
myframe framework for english website
*/

/*
use:

.w for wrapper or container block for exm : .w-scope-number{width:number percent}
.col for column grid design for exm: .col-scope-number{width:number percent}

.w and .col both have float left

m means margin,
mt means margin-top
mr means margin-right
mb means margin-bottom
ml means margin-left

scope tablet cover scope desktop and big
scope desktop cover big
scope mobile is alone

*/



*, *::before, *::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*::before, *::after{
    content: '';
    display: block;
}
body{
    font-size: 100%;
    direction: rtl
}
/*
header, footer, aside, main, article, section, nav, figure, figcaption, video{
    display: block;
}
*/
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}
li{
    list-style-type: none;
}
input{
    outline: none
}
[class*="w"],
[class*="col"]{
    float: left;
}

/*start mobile scope*/
@media screen and (max-width:767px){
    .fr{float: right;}
.w-m-70{width: 70%;margin-left: 15%;}
.w-m-75{width: 75%;margin-left: 12.5%;}
.w-m-80{width: 80%;margin-left: 10%;}
.w-m-85{width: 85%;margin-left: 7.5%;}
.w-m-90{width: 90%;margin-left: 5%;}
.w-m-95{width: 95%;margin-left: 2.5%;}
.w-m-100{width: 100%}

.col-m-1{width:1%}
.col-m-2{width:2%}
.col-m-3{width:3%}
.col-m-4{width:4%}
.col-m-5{width:5%}
.col-m-6{width:6%}
.col-m-7{width:7%}
.col-m-8{width:8%}
.col-m-9{width:9%}
.col-m-10{width:10%}
.col-m-11{width:11%}
.col-m-12{width:12%}
.col-m-13{width:13%}
.col-m-14{width:14%}
.col-m-15{width:15%}
.col-m-16{width:16%}
.col-m-17{width:17%}
.col-m-18{width:18%}
.col-m-19{width:19%}
.col-m-20{width:20%}
.col-m-21{width:21%}
.col-m-22{width:22%}
.col-m-23{width:23%}
.col-m-24{width:24%}
.col-m-25{width:25%}
.col-m-26{width:26%}
.col-m-27{width:27%}
.col-m-28{width:28%}
.col-m-29{width:29%}
.col-m-30{width:30%}
.col-m-31{width:31%}
.col-m-32{width:32%}
.col-m-33{width:33%}
.col-m-34{width:34%}
.col-m-35{width:35%}
.col-m-36{width:36%}
.col-m-37{width:37%}
.col-m-38{width:38%}
.col-m-39{width:39%}
.col-m-40{width:40%}
.col-m-41{width:41%}
.col-m-42{width:42%}
.col-m-43{width:43%}
.col-m-44{width:44%}
.col-m-45{width:45%}
.col-m-46{width:46%}
.col-m-47{width:47%}
.col-m-48{width:48%}
.col-m-49{width:49%}
.col-m-50{width:50%}
.col-m-51{width:51%}
.col-m-52{width:52%}
.col-m-53{width:53%}
.col-m-54{width:54%}
.col-m-55{width:55%}
.col-m-56{width:56%}
.col-m-57{width:57%}
.col-m-58{width:58%}
.col-m-59{width:59%}
.col-m-60{width:60%}
.col-m-61{width:61%}
.col-m-62{width:62%}
.col-m-63{width:63%}
.col-m-64{width:64%}
.col-m-65{width:65%}
.col-m-66{width:66%}
.col-m-67{width:67%}
.col-m-68{width:68%}
.col-m-69{width:69%}
.col-m-70{width:70%}
.col-m-71{width:71%}
.col-m-72{width:72%}
.col-m-73{width:73%}
.col-m-74{width:74%}
.col-m-75{width:75%}
.col-m-76{width:76%}
.col-m-77{width:77%}
.col-m-78{width:78%}
.col-m-79{width:79%}
.col-m-80{width:80%}
.col-m-81{width:81%}
.col-m-82{width:82%}
.col-m-83{width:83%}
.col-m-84{width:84%}
.col-m-85{width:85%}
.col-m-86{width:86%}
.col-m-87{width:87%}
.col-m-88{width:88%}
.col-m-89{width:89%}
.col-m-90{width:90%}
.col-m-91{width:91%}
.col-m-92{width:92%}
.col-m-93{width:93%}
.col-m-94{width:94%}
.col-m-95{width:95%}
.col-m-96{width:96%}
.col-m-97{width:97%}
.col-m-98{width:98%}
.col-m-99{width:99%}
.col-m-100{width:100%}
    .dn-m{display: none;}
    .db-m{display: block;}
    
    
    .m-m-1{margin: 1%;}
    .m-m-2{margin: 2%;}
    .m-m-3{margin: 3%;}
    .m-m-4{margin: 4%;}
    .m-m-5{margin: 5%;}
    .m-m-6{margin: 6%;}
    .m-m-7{margin: 7%;}
    .m-m-8{margin: 8%;}
    .m-m-9{margin: 9%;}
    .m-m-10{margin: 10%;}
    .m-m-11{margin: 11%;}
    .m-m-12{margin: 12%;}
    .m-m-13{margin: 13%;}
    .m-m-14{margin: 14%;}
    .m-m-15{margin: 15%;}
    
    .mt-m-1{margin-top: 1%;}
    .mt-m-2{margin-top: 2%;}
    .mt-m-3{margin-top: 3%;}
    .mt-m-4{margin-top: 4%;}
    .mt-m-5{margin-top: 5%;}
    .mt-m-6{margin-top: 6%;}
    .mt-m-7{margin-top: 7%;}
    .mt-m-8{margin-top: 8%;}
    .mt-m-9{margin-top: 9%;}
    .mt-m-10{margin-top: 10%;}
    .mt-m-11{margin-top: 11%;}
    .mt-m-12{margin-top: 12%;}
    .mt-m-13{margin-top: 13%;}
    .mt-m-14{margin-top: 14%;}
    .mt-m-15{margin-top: 15%;}
    .mt-m-16{margin-top: 16%;}
    .mt-m-17{margin-top: 17%;}
    .mt-m-18{margin-top: 18%;}
    .mt-m-19{margin-top: 19%;}
    .mt-m-20{margin-top: 20%;}
    .mt-m-21{margin-top: 21%;}
    .mt-m-22{margin-top: 22%;}
    .mt-m-23{margin-top: 23%;}
    .mt-m-24{margin-top: 24%;}
    .mt-m-25{margin-top: 25%;}
        
    .mr-m-1{margin-right: 1%;}
    .mr-m-2{margin-right: 2%;}
    .mr-m-3{margin-right: 3%;}
    .mr-m-4{margin-right: 4%;}
    .mr-m-5{margin-right: 5%;}
    .mr-m-6{margin-right: 6%;}
    .mr-m-7{margin-right: 7%;}
    .mr-m-8{margin-right: 8%;}
    .mr-m-9{margin-right: 9%;}
    .mr-m-10{margin-right: 10%;}
    .mr-m-11{margin-right: 11%;}
    .mr-m-12{margin-right: 12%;}
    .mr-m-13{margin-right: 13%;}
    .mr-m-14{margin-right: 14%;}
    .mr-m-15{margin-right: 15%;}
    
    .mb-m-1{margin-bottom: 1%;}
    .mb-m-2{margin-bottom: 2%;}
    .mb-m-3{margin-bottom: 3%;}
    .mb-m-4{margin-bottom: 4%;}
    .mb-m-5{margin-bottom: 5%;}
    .mb-m-6{margin-bottom: 6%;}
    .mb-m-7{margin-bottom: 7%;}
    .mb-m-8{margin-bottom: 8%;}
    .mb-m-9{margin-bottom: 9%;}
    .mb-m-10{margin-bottom: 10%;}
    .mb-m-11{margin-bottom: 11%;}
    .mb-m-12{margin-bottom: 12%;}
    .mb-m-13{margin-bottom: 13%;}
    .mb-m-14{margin-bottom: 14%;}
    .mb-m-15{margin-bottom: 15%;}
    
        
    .ml-m-1{margin-left: 1%;}
    .ml-m-2{margin-left: 2%;}
    .ml-m-3{margin-left: 3%;}
    .ml-m-4{margin-left: 4%;}
    .ml-m-5{margin-left: 5%;}
    .ml-m-6{margin-left: 6%;}
    .ml-m-7{margin-left: 7%;}
    .ml-m-8{margin-left: 8%;}
    .ml-m-9{margin-left: 9%;}
    .ml-m-10{margin-left: 10%;}
    .ml-m-11{margin-left: 11%;}
    .ml-m-12{margin-left: 12%;}
    .ml-m-13{margin-left: 13%;}
    .ml-m-14{margin-left: 14%;}
    .ml-m-15{margin-left: 15%;}
    
}
/*end mobile scope*/




/*start tablet scope*/
@media screen and (min-width:768px){
        .fr{float: right;}

    .w-t-70{width: 70%;margin-left: 15%;}
    .w-t-75{width: 75%;margin-left: 12.5%;}
    .w-t-80{width: 80%;margin-left: 10%;}
    .w-t-85{width: 85%;margin-left: 7.5%;}
    .w-t-90{width: 90%;margin-left: 5%;}
    .w-t-95{width: 95%;margin-left: 2.5%;}
    .w-t-100{width: 100%}

.col-t-1{width:1%}
.col-t-2{width:2%}
.col-t-3{width:3%}
.col-t-4{width:4%}
.col-t-5{width:5%}
.col-t-6{width:6%}
.col-t-7{width:7%}
.col-t-8{width:8%}
.col-t-9{width:9%}
.col-t-10{width:10%}
.col-t-11{width:11%}
.col-t-12{width:12%}
.col-t-13{width:13%}
.col-t-14{width:14%}
.col-t-15{width:15%}
.col-t-16{width:16%}
.col-t-17{width:17%}
.col-t-18{width:18%}
.col-t-19{width:19%}
.col-t-20{width:20%}
.col-t-21{width:21%}
.col-t-22{width:22%}
.col-t-23{width:23%}
.col-t-24{width:24%}
.col-t-25{width:25%}
.col-t-26{width:26%}
.col-t-27{width:27%}
.col-t-28{width:28%}
.col-t-29{width:29%}
.col-t-30{width:30%}
.col-t-31{width:31%}
.col-t-32{width:32%}
.col-t-33{width:33%}
.col-t-34{width:34%}
.col-t-35{width:35%}
.col-t-36{width:36%}
.col-t-37{width:37%}
.col-t-38{width:38%}
.col-t-39{width:39%}
.col-t-40{width:40%}
.col-t-41{width:41%}
.col-t-42{width:42%}
.col-t-43{width:43%}
.col-t-44{width:44%}
.col-t-45{width:45%}
.col-t-46{width:46%}
.col-t-47{width:47%}
.col-t-48{width:48%}
.col-t-49{width:49%}
.col-t-50{width:50%}
.col-t-51{width:51%}
.col-t-52{width:52%}
.col-t-53{width:53%}
.col-t-54{width:54%}
.col-t-55{width:55%}
.col-t-56{width:56%}
.col-t-57{width:57%}
.col-t-58{width:58%}
.col-t-59{width:59%}
.col-t-60{width:60%}
.col-t-61{width:61%}
.col-t-62{width:62%}
.col-t-63{width:63%}
.col-t-64{width:64%}
.col-t-65{width:65%}
.col-t-66{width:66%}
.col-t-67{width:67%}
.col-t-68{width:68%}
.col-t-69{width:69%}
.col-t-70{width:70%}
.col-t-71{width:71%}
.col-t-72{width:72%}
.col-t-73{width:73%}
.col-t-74{width:74%}
.col-t-75{width:75%}
.col-t-76{width:76%}
.col-t-77{width:77%}
.col-t-78{width:78%}
.col-t-79{width:79%}
.col-t-80{width:80%}
.col-t-81{width:81%}
.col-t-82{width:82%}
.col-t-83{width:83%}
.col-t-84{width:84%}
.col-t-85{width:85%}
.col-t-86{width:86%}
.col-t-87{width:87%}
.col-t-88{width:88%}
.col-t-89{width:89%}
.col-t-90{width:90%}
.col-t-91{width:91%}
.col-t-92{width:92%}
.col-t-93{width:93%}
.col-t-94{width:94%}
.col-t-95{width:95%}
.col-t-96{width:96%}
.col-t-97{width:97%}
.col-t-98{width:98%}
.col-t-99{width:99%}
.col-t-100{width:100%}
    
    .dn-t{display: none;}
    .db-t{display: block;}

        
    .m-t-1{margin: 1%;}
    .m-t-2{margin: 2%;}
    .m-t-3{margin: 3%;}
    .m-t-4{margin: 4%;}
    .m-t-5{margin: 5%;}
    .m-t-6{margin: 6%;}
    .m-t-7{margin: 7%;}
    .m-t-8{margin: 8%;}
    .m-t-9{margin: 9%;}
    .m-t-10{margin: 10%;}
    .m-t-11{margin: 11%;}
    .m-t-12{margin: 12%;}
    .m-t-13{margin: 13%;}
    .m-t-14{margin: 14%;}
    .m-t-15{margin: 15%;}
    
    .mt-t-1{margin-top: 1%;}
    .mt-t-2{margin-top: 2%;}
    .mt-t-3{margin-top: 3%;}
    .mt-t-4{margin-top: 4%;}
    .mt-t-5{margin-top: 5%;}
    .mt-t-6{margin-top: 6%;}
    .mt-t-7{margin-top: 7%;}
    .mt-t-8{margin-top: 8%;}
    .mt-t-9{margin-top: 9%;}
    .mt-t-10{margin-top: 10%;}
    .mt-t-11{margin-top: 11%;}
    .mt-t-12{margin-top: 12%;}
    .mt-t-13{margin-top: 13%;}
    .mt-t-14{margin-top: 14%;}
    .mt-t-15{margin-top: 15%;}
    .mt-t-16{margin-top: 16%;}
    .mt-t-17{margin-top: 17%;}
    .mt-t-18{margin-top: 18%;}
        
    .mr-t-1{margin-right: 1%;}
    .mr-t-2{margin-right: 2%;}
    .mr-t-3{margin-right: 3%;}
    .mr-t-4{margin-right: 4%;}
    .mr-t-5{margin-right: 5%;}
    .mr-t-6{margin-right: 6%;}
    .mr-t-7{margin-right: 7%;}
    .mr-t-8{margin-right: 8%;}
    .mr-t-9{margin-right: 9%;}
    .mr-t-10{margin-right: 10%;}
    .mr-t-11{margin-right: 11%;}
    .mr-t-12{margin-right: 12%;}
    .mr-t-13{margin-right: 13%;}
    .mr-t-14{margin-right: 14%;}
    .mr-t-15{margin-right: 15%;}
    
    .mb-t-1{margin-bottom: 1%;}
    .mb-t-2{margin-bottom: 2%;}
    .mb-t-3{margin-bottom: 3%;}
    .mb-t-4{margin-bottom: 4%;}
    .mb-t-5{margin-bottom: 5%;}
    .mb-t-6{margin-bottom: 6%;}
    .mb-t-7{margin-bottom: 7%;}
    .mb-t-8{margin-bottom: 8%;}
    .mb-t-9{margin-bottom: 9%;}
    .mb-t-10{margin-bottom: 10%;}
    .mb-t-11{margin-bottom: 11%;}
    .mb-t-12{margin-bottom: 12%;}
    .mb-t-13{margin-bottom: 13%;}
    .mb-t-14{margin-bottom: 14%;}
    .mb-t-15{margin-bottom: 15%;}
    
        
    .ml-t-1{margin-left: 1%;}
    .ml-t-2{margin-left: 2%;}
    .ml-t-3{margin-left: 3%;}
    .ml-t-4{margin-left: 4%;}
    .ml-t-5{margin-left: 5%;}
    .ml-t-6{margin-left: 6%;}
    .ml-t-7{margin-left: 7%;}
    .ml-t-8{margin-left: 8%;}
    .ml-t-9{margin-left: 9%;}
    .ml-t-10{margin-left: 10%;}
    .ml-t-11{margin-left: 11%;}
    .ml-t-12{margin-left: 12%;}
    .ml-t-13{margin-left: 13%;}
    .ml-t-14{margin-left: 14%;}
    .ml-t-15{margin-left: 15%;}
}
/*end tablet scope*/




/*start desktop scope*/
@media screen and (min-width:993px){
    .w-d-70{width: 70%;margin-left: 15%;}
    .w-d-75{width: 75%;margin-left: 12.5%;}
    .w-d-80{width: 80%;margin-left: 10%;}
    .w-d-85{width: 85%;margin-left: 7.5%;}
    .w-d-90{width: 90%;margin-left: 5%;}
    .w-d-95{width: 95%;margin-left: 2.5%;}
    .w-d-100{width: 100%}
.col-d-1{width:1%}
.col-d-2{width:2%}
.col-d-3{width:3%}
.col-d-4{width:4%}
.col-d-5{width:5%}
.col-d-6{width:6%}
.col-d-7{width:7%}
.col-d-8{width:8%}
.col-d-9{width:9%}
.col-d-10{width:10%}
.col-d-11{width:11%}
.col-d-12{width:12%}
.col-d-13{width:13%}
.col-d-14{width:14%}
.col-d-15{width:15%}
.col-d-16{width:16%}
.col-d-17{width:17%}
.col-d-18{width:18%}
.col-d-19{width:19%}
.col-d-20{width:20%}
.col-d-21{width:21%}
.col-d-22{width:22%}
.col-d-23{width:23%}
.col-d-24{width:24%}
.col-d-25{width:25%}
.col-d-26{width:26%}
.col-d-27{width:27%}
.col-d-28{width:28%}
.col-d-29{width:29%}
.col-d-30{width:30%}
.col-d-31{width:31%}
.col-d-32{width:32%}
.col-d-33{width:33%}
.col-d-34{width:34%}
.col-d-35{width:35%}
.col-d-36{width:36%}
.col-d-37{width:37%}
.col-d-38{width:38%}
.col-d-39{width:39%}
.col-d-40{width:40%}
.col-d-41{width:41%}
.col-d-42{width:42%}
.col-d-43{width:43%}
.col-d-44{width:44%}
.col-d-45{width:45%}
.col-d-46{width:46%}
.col-d-47{width:47%}
.col-d-48{width:48%}
.col-d-49{width:49%}
.col-d-50{width:50%}
.col-d-51{width:51%}
.col-d-52{width:52%}
.col-d-53{width:53%}
.col-d-54{width:54%}
.col-d-55{width:55%}
.col-d-56{width:56%}
.col-d-57{width:57%}
.col-d-58{width:58%}
.col-d-59{width:59%}
.col-d-60{width:60%}
.col-d-61{width:61%}
.col-d-62{width:62%}
.col-d-63{width:63%}
.col-d-64{width:64%}
.col-d-65{width:65%}
.col-d-66{width:66%}
.col-d-67{width:67%}
.col-d-68{width:68%}
.col-d-69{width:69%}
.col-d-70{width:70%}
.col-d-71{width:71%}
.col-d-72{width:72%}
.col-d-73{width:73%}
.col-d-74{width:74%}
.col-d-75{width:75%}
.col-d-76{width:76%}
.col-d-77{width:77%}
.col-d-78{width:78%}
.col-d-79{width:79%}
.col-d-80{width:80%}
.col-d-81{width:81%}
.col-d-82{width:82%}
.col-d-83{width:83%}
.col-d-84{width:84%}
.col-d-85{width:85%}
.col-d-86{width:86%}
.col-d-87{width:87%}
.col-d-88{width:88%}
.col-d-89{width:89%}
.col-d-90{width:90%}
.col-d-91{width:91%}
.col-d-92{width:92%}
.col-d-93{width:93%}
.col-d-94{width:94%}
.col-d-95{width:95%}
.col-d-96{width:96%}
.col-d-97{width:97%}
.col-d-98{width:98%}
.col-d-99{width:99%}
.col-d-100{width:100%}
    
    .dn-d{display: none;}
    .db-d{display: block;}
    
    
        
    .m-d-1{margin: 1%;}
    .m-d-2{margin: 2%;}
    .m-d-3{margin: 3%;}
    .m-d-4{margin: 4%;}
    .m-d-5{margin: 5%;}
    .m-d-6{margin: 6%;}
    .m-d-7{margin: 7%;}
    .m-d-8{margin: 8%;}
    .m-d-9{margin: 9%;}
    .m-d-10{margin: 10%;}
    .m-d-11{margin: 11%;}
    .m-d-12{margin: 12%;}
    .m-d-13{margin: 13%;}
    .m-d-14{margin: 14%;}
    .m-d-15{margin: 15%;}
    
    .mt-d-1{margin-top: 1%;}
    .mt-d-2{margin-top: 2%;}
    .mt-d-3{margin-top: 3%;}
    .mt-d-4{margin-top: 4%;}
    .mt-d-5{margin-top: 5%;}
    .mt-d-6{margin-top: 6%;}
    .mt-d-7{margin-top: 7%;}
    .mt-d-8{margin-top: 8%;}
    .mt-d-9{margin-top: 9%;}
    .mt-d-10{margin-top: 10%;}
    .mt-d-11{margin-top: 11%;}
    .mt-d-12{margin-top: 12%;}
    .mt-d-13{margin-top: 13%;}
    .mt-d-14{margin-top: 14%;}
    .mt-d-15{margin-top: 15%;}
        
    .mr-d-1{margin-right: 1%;}
    .mr-d-2{margin-right: 2%;}
    .mr-d-3{margin-right: 3%;}
    .mr-d-4{margin-right: 4%;}
    .mr-d-5{margin-right: 5%;}
    .mr-d-6{margin-right: 6%;}
    .mr-d-7{margin-right: 7%;}
    .mr-d-8{margin-right: 8%;}
    .mr-d-9{margin-right: 9%;}
    .mr-d-10{margin-right: 10%;}
    .mr-d-11{margin-right: 11%;}
    .mr-d-12{margin-right: 12%;}
    .mr-d-13{margin-right: 13%;}
    .mr-d-14{margin-right: 14%;}
    .mr-d-15{margin-right: 15%;}
    
    .mb-d-1{margin-bottom: 1%;}
    .mb-d-2{margin-bottom: 2%;}
    .mb-d-3{margin-bottom: 3%;}
    .mb-d-4{margin-bottom: 4%;}
    .mb-d-5{margin-bottom: 5%;}
    .mb-d-6{margin-bottom: 6%;}
    .mb-d-7{margin-bottom: 7%;}
    .mb-d-8{margin-bottom: 8%;}
    .mb-d-9{margin-bottom: 9%;}
    .mb-d-10{margin-bottom: 10%;}
    .mb-d-11{margin-bottom: 11%;}
    .mb-d-12{margin-bottom: 12%;}
    .mb-d-13{margin-bottom: 13%;}
    .mb-d-14{margin-bottom: 14%;}
    .mb-d-15{margin-bottom: 15%;}
    
        
    .ml-d-1{margin-left: 1%;}
    .ml-d-2{margin-left: 2%;}
    .ml-d-3{margin-left: 3%;}
    .ml-d-4{margin-left: 4%;}
    .ml-d-5{margin-left: 5%;}
    .ml-d-6{margin-left: 6%;}
    .ml-d-7{margin-left: 7%;}
    .ml-d-8{margin-left: 8%;}
    .ml-d-9{margin-left: 9%;}
    .ml-d-10{margin-left: 10%;}
    .ml-d-11{margin-left: 11%;}
    .ml-d-12{margin-left: 12%;}
    .ml-d-13{margin-left: 13%;}
    .ml-d-14{margin-left: 14%;}
    .ml-d-15{margin-left: 15%;}
    
    
}
/*end desktop scope*/




/*start big scope*/
@media screen and (min-width:1025px){
    
    .w-b-70{width: 70%;margin-left: 15%;}
    .w-b-75{width: 75%;margin-left: 12.5%;}
    .w-b-80{width: 80%;margin-left: 10%;}
    .w-b-85{width: 85%;margin-left: 7.5%;}
    .w-b-90{width: 90%;margin-left: 5%;}
    .w-b-95{width: 95%;margin-left: 2.5%;}
    .w-b-100{width: 100%}
.col-b-1{width:1%}
.col-b-2{width:2%}
.col-b-3{width:3%}
.col-b-4{width:4%}
.col-b-5{width:5%}
.col-b-6{width:6%}
.col-b-7{width:7%}
.col-b-8{width:8%}
.col-b-9{width:9%}
.col-b-10{width:10%}
.col-b-11{width:11%}
.col-b-12{width:12%}
.col-b-13{width:13%}
.col-b-14{width:14%}
.col-b-15{width:15%}
.col-b-16{width:16%}
.col-b-17{width:17%}
.col-b-18{width:18%}
.col-b-19{width:19%}
.col-b-20{width:20%}
.col-b-21{width:21%}
.col-b-22{width:22%}
.col-b-23{width:23%}
.col-b-24{width:24%}
.col-b-25{width:25%}
.col-b-26{width:26%}
.col-b-27{width:27%}
.col-b-28{width:28%}
.col-b-29{width:29%}
.col-b-30{width:30%}
.col-b-31{width:31%}
.col-b-32{width:32%}
.col-b-33{width:33%}
.col-b-34{width:34%}
.col-b-35{width:35%}
.col-b-36{width:36%}
.col-b-37{width:37%}
.col-b-38{width:38%}
.col-b-39{width:39%}
.col-b-40{width:40%}
.col-b-41{width:41%}
.col-b-42{width:42%}
.col-b-43{width:43%}
.col-b-44{width:44%}
.col-b-45{width:45%}
.col-b-46{width:46%}
.col-b-47{width:47%}
.col-b-48{width:48%}
.col-b-49{width:49%}
.col-b-50{width:50%}
.col-b-51{width:51%}
.col-b-52{width:52%}
.col-b-53{width:53%}
.col-b-54{width:54%}
.col-b-55{width:55%}
.col-b-56{width:56%}
.col-b-57{width:57%}
.col-b-58{width:58%}
.col-b-59{width:59%}
.col-b-60{width:60%}
.col-b-61{width:61%}
.col-b-62{width:62%}
.col-b-63{width:63%}
.col-b-64{width:64%}
.col-b-65{width:65%}
.col-b-66{width:66%}
.col-b-67{width:67%}
.col-b-68{width:68%}
.col-b-69{width:69%}
.col-b-70{width:70%}
.col-b-71{width:71%}
.col-b-72{width:72%}
.col-b-73{width:73%}
.col-b-74{width:74%}
.col-b-75{width:75%}
.col-b-76{width:76%}
.col-b-77{width:77%}
.col-b-78{width:78%}
.col-b-79{width:79%}
.col-b-80{width:80%}
.col-b-81{width:81%}
.col-b-82{width:82%}
.col-b-83{width:83%}
.col-b-84{width:84%}
.col-b-85{width:85%}
.col-b-86{width:86%}
.col-b-87{width:87%}
.col-b-88{width:88%}
.col-b-89{width:89%}
.col-b-90{width:90%}
.col-b-91{width:91%}
.col-b-92{width:92%}
.col-b-93{width:93%}
.col-b-94{width:94%}
.col-b-95{width:95%}
.col-b-96{width:96%}
.col-b-97{width:97%}
.col-b-98{width:98%}
.col-b-99{width:99%}
.col-b-100{width:100%}
    
    .dn-b{display: none;}
    .db-b{display: block;}
    
        
    .m-b-1{margin: 1%;}
    .m-b-2{margin: 2%;}
    .m-b-3{margin: 3%;}
    .m-b-4{margin: 4%;}
    .m-b-5{margin: 5%;}
    .m-b-6{margin: 6%;}
    .m-b-7{margin: 7%;}
    .m-b-8{margin: 8%;}
    .m-b-9{margin: 9%;}
    .m-b-10{margin: 10%;}
    .m-b-11{margin: 11%;}
    .m-b-12{margin: 12%;}
    .m-b-13{margin: 13%;}
    .m-b-14{margin: 14%;}
    .m-b-15{margin: 15%;}
    
    .mt-b-1{margin-top: 1%;}
    .mt-b-2{margin-top: 2%;}
    .mt-b-3{margin-top: 3%;}
    .mt-b-4{margin-top: 4%;}
    .mt-b-5{margin-top: 5%;}
    .mt-b-6{margin-top: 6%;}
    .mt-b-7{margin-top: 7%;}
    .mt-b-8{margin-top: 8%;}
    .mt-b-9{margin-top: 9%;}
    .mt-b-10{margin-top: 10%;}
    .mt-b-11{margin-top: 11%;}
    .mt-b-12{margin-top: 12%;}
    .mt-b-13{margin-top: 13%;}
    .mt-b-14{margin-top: 14%;}
    .mt-b-15{margin-top: 15%;}
        
    .mr-b-1{margin-right: 1%;}
    .mr-b-2{margin-right: 2%;}
    .mr-b-3{margin-right: 3%;}
    .mr-b-4{margin-right: 4%;}
    .mr-b-5{margin-right: 5%;}
    .mr-b-6{margin-right: 6%;}
    .mr-b-7{margin-right: 7%;}
    .mr-b-8{margin-right: 8%;}
    .mr-b-9{margin-right: 9%;}
    .mr-b-10{margin-right: 10%;}
    .mr-b-11{margin-right: 11%;}
    .mr-b-12{margin-right: 12%;}
    .mr-b-13{margin-right: 13%;}
    .mr-b-14{margin-right: 14%;}
    .mr-b-15{margin-right: 15%;}
    
    .mb-b-1{margin-bottom: 1%;}
    .mb-b-2{margin-bottom: 2%;}
    .mb-b-3{margin-bottom: 3%;}
    .mb-b-4{margin-bottom: 4%;}
    .mb-b-5{margin-bottom: 5%;}
    .mb-b-6{margin-bottom: 6%;}
    .mb-b-7{margin-bottom: 7%;}
    .mb-b-8{margin-bottom: 8%;}
    .mb-b-9{margin-bottom: 9%;}
    .mb-b-10{margin-bottom: 10%;}
    .mb-b-11{margin-bottom: 11%;}
    .mb-b-12{margin-bottom: 12%;}
    .mb-b-13{margin-bottom: 13%;}
    .mb-b-14{margin-bottom: 14%;}
    .mb-b-15{margin-bottom: 15%;}
    
        
    .ml-b-1{margin-left: 1%;}
    .ml-b-2{margin-left: 2%;}
    .ml-b-3{margin-left: 3%;}
    .ml-b-4{margin-left: 4%;}
    .ml-b-5{margin-left: 5%;}
    .ml-b-6{margin-left: 6%;}
    .ml-b-7{margin-left: 7%;}
    .ml-b-8{margin-left: 8%;}
    .ml-b-9{margin-left: 9%;}
    .ml-b-10{margin-left: 10%;}
    .ml-b-11{margin-left: 11%;}
    .ml-b-12{margin-left: 12%;}
    .ml-b-13{margin-left: 13%;}
    .ml-b-14{margin-left: 14%;}
    .ml-b-15{margin-left: 15%;}

}
/*end big scope*/

















